<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metaverse Message Recieving</title>
</head>
<body>
    <h1>Demo of interaction of Metaverse Properties and Browser </h1>
    
    <button onclick="sendMessage('create')">Create</button>
    <button onclick="sendMessage('red')">Red</button>
    <button onclick="sendMessage('green')">Green</button>
    <button onclick="sendMessage('blue')">Blue</button>
    <button onclick="sendMessage('delete')">Delete</button>
    <button onclick=window.location.reload();>Reset</button>
    <br><br>
    <textarea id="messageField" rows="10" cols="50" readonly></textarea>
    <script src="js/script.js"></script>
</body>
</html>
